{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write"
    ],
    "*.{json,css,md}": [
        "prettier --write"
    ],
    "client/**/*.{ts,tsx}": [
        "npm run lint:fix --prefix client"
    ],
    "server/**/*.{js,ts}": [
        "npm run lint:fix --prefix server"
    ]
}
